<!DOCTYPE HTML>
<!--
	Stellar by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
<head>
  <title>Allegren Warnings</title>
  <meta name="google-site-verification" content="Lq3vaWeC0PdWBSYOByj-Q01ZNzDyO0Fk5r7tAwIU5Hk" />
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <!--[if lte IE 8]><script src="./static/assets/js/ie/html5shiv.js"></script><![endif]-->
  <link rel="stylesheet" href="./static/assets/css/main.css" />
  <!--[if lte IE 9]><link rel="stylesheet" href="./static/assets/css/ie9.css" /><![endif]-->
  <!--[if lte IE 8]><link rel="stylesheet" href="./static/assets/css/ie8.css" /><![endif]-->
</head>
<body>

<!-- Wrapper -->
<div id="wrapper">

  <!-- Header -->
  <header id="header" class="alt">
    <span class="logo"><img src="./static/images/allergens_icon.png" alt="" /></span>
    <h1>Allergen Warnings</h1>
    <p>Know if the product you are about to buy has potential allergens!<br />
  </header>

  <!-- Nav -->
  <nav id="nav">
    <ul>
      <li><a href="#intro" class="active">The Problem</a></li>
      <li><a href="#first">Is there a Cure?</a></li>
      <li><a href="#second">Challenge with Online Grocery Shopping</a></li>
      <li><a href="#cta">Our Solution</a></li>
    </ul>
  </nav>

  <!-- Main -->
  <div id="main">

    <!-- Second Section -->
    <section id="intro" class="main special">
      <header class="major">
        <h2>The Problem</h2>
        <p></p>
        <p>Eight major food allergens – milk, egg, peanut, tree nuts, wheat, soy, fish and crustacean shellfish – are
          responsible for most of the serious food allergy reactions in the United States. How serious? Let's take a look!</p>
      </header>
      <ul class="statistics">
        <li class="style1">
          <span class="icon fas fa-hashtag "></span>
          <strong>15,000,000+</strong> Americans have food allergies
        </li>
        <li class="style2">
          <span class="icon fas fa-child"></span>
          <strong>1 in 13</strong> Children suffers
        </li>
        <li class="style3">
          <span class="icon fas fa-code-fork"></span>
          <strong>30 %</strong> Children allergic to more than one food
        </li>
        <li class="style4">
          <span class="icon fas fa-signal"></span>
          <strong>50 %</strong> Increased prevalance between 1997 and 2011.
        </li>
        <li class="style5">
          <span class="icon fas fa-stethoscope"></span>
          <strong>200,000</strong> people require emergency medical care for allergic reactions to food every year
        </li>
      </ul>
      <p class="content">A food allergy is a medical condition in which exposure to a food triggers a harmful immune response. The immune response, called an allergic reaction, occurs because the immune system attacks proteins in the food that are normally harmless. The proteins that trigger the reaction are called allergens.</p>
      <footer class="major">
        <ul class="actions">
          <li><a target="_blank" href="https://www.foodallergy.org/life-food-allergies/food-allergy-101/facts-and-statistics" class="button">Learn More</a></li>
        </ul>
      </footer>
    </section>


    <!-- Introduction -->
    <section id="first" class="main">
      <div class="spotlight">
        <div class="content">
          <header class="major">
            <h2>Is there a Cure? No.</h2>
          </header>
          <p>Food allergies are managed by avoiding the problem food(s) and learning to recognize and treat
            reactions symptoms.</p>
          <p>To help Americans avoid the health risks posed by food allergens, FDA enforces the Food Allergen Labeling
            and Consumer Protection Act of 2004 (the Act). The Act applies to the labeling of foods regulated by FDA
            which includes all foods except poultry, most meats, certain egg products, and most alcoholic beverages
            which are regulated by other Federal agencies. The Act requires that food labels must clearly identify
            the food source names of any ingredients that are one of the major food allergens or contain any protein
            derived from a major food allergen.</p>
          <p>As a result, food labels help allergic consumers identify offending foods or ingredients so they can more
            easily avoid them.</p>
          <ul class="actions">
            <li><a target="_blank" href="https://www.fda.gov/Food/IngredientsPackagingLabeling/FoodAllergens/ucm079311.htm" class="button">Learn More</a></li>
          </ul>
        </div>
        <span class="image"><img src="./static/images/pic01.jpg" alt="" /></span>
      </div>
    </section>

    <!-- First Section -->
    <section id="second" class="main">
      <div class="spotlight">
        <div class="content">
          <header class="major">
            <h2>Challenge with Online Grocery Shopping</h2>
          </header>
          <p>Online grocery shopping is gaining traction but most grocery sites don't explicitly specify allergen warnings.</p>
          <p>Making life harder for buyer to search for allergen warnings in product images.</p>
          <p></p>
          <ul class="actions">
            <li><a target="_blank" href="https://primenow.amazon.com" class="button">Learn More</a></li>
          </ul>
        </div>
        <span class="image"><img src="./static/images/prime_now.png" alt=""/></span>
      </div>
    </section>


    <!-- Get Started -->
    <section id="cta" class="main special">
      <header class="major">
        <h2>Our Solution</h2>
        <p>"Allergen Warnings" is chrome extension which works seamlessly on major grocery shopping site to display food warnings prominently.</p>
        <p></p>
      </header>
      <footer class="major">
        <ul class="actions">
          <li><a href="https://chrome.google.com/webstore/detail/allergen-warnings/okbjpdfbhnmnoopomccjelhfdgjjhcbj" class="button special">Get Started</a></li>
        </ul>
      </footer>
    </section>

  </div>

  <!-- Footer -->
  <footer id="footer">
      <h2>Jigarkumar Bhatt</h2>
      <ul class="icons">
        <li><a target="_blank" href="https://github.com/jigarkb" class="icon fa-github alt"><span class="label">GitHub</span></a></li>
        <li><a target="_blank" href="https://www.linkedin.com/in/jigarkb" class="icon fa-linkedin alt"><span class="label">LinkedIn</span></a></li>
        <li><a target="_blank" href="mailto:jigarkub@usc.edu" class="icon fa-envelope alt"><span class="label">E-mail</span></a></li>
      </ul>
    <p class="copyright">&copy; Allergen Warnings. Design: <a href="https://html5up.net">HTML5 UP</a>.</p>
  </footer>

</div>

<!-- Scripts -->
<script src="./static/assets/js/jquery.min.js"></script>
<script src="./static/assets/js/jquery.scrollex.min.js"></script>
<script src="./static/assets/js/jquery.scrolly.min.js"></script>
<script src="./static/assets/js/skel.min.js"></script>
<script src="./static/assets/js/util.js"></script>
<!--[if lte IE 8]><script src="./static/assets/js/ie/respond.min.js"></script><![endif]-->
<script src="./static/assets/js/main.js"></script>

</body>
</html>